body{
    font-family: 'Plus Jakarta Sans',sans-serif;
    background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

/* Header styles */

.navbar{
    margin-top: 1.5%;
    margin-left: 10%;
    margin-right: 10%;
}

.start{
    background-color: #13183f;
    border-radius: 30px;
    font-size: 1em;
    font-weight: 700;
    height: 50px;
    width: 150px;
}

/* Introduction styles */

.intro{
    margin: 10% auto;
    margin-left: 10%;
    margin-right: 10%;
}

h1{
    font-size: 3.5rem;
    font-weight: 800;
}

.warm{
    background: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%) ;
    color: white;
}

.intro button{
    border-radius: 30px;
    font-size: 1em;
    font-weight: 700;
    height: 50px;
    width: 150px;
}

.image{
    text-align: center;
}

p{
    color: grey;
}

/* Courses */

.courses{
    margin-left: 10%;
    margin-right: 10%;
}

.card{
    padding: 1.5rem;
    margin-bottom: 15%;
    position: relative;
    border: none;
}

.content{
    padding-top: 1.5rem;
}

h2{
    font-weight: 700;
}

h3{
    font-weight: 800;
    font-size: 1.4rem;
    margin-bottom: 7%;
}

.icons{
    border-radius: 50%;
    position: absolute;
    top: -30px;
}

.button{
    border: none;
    background:none;
    color: #f74780;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 0;
}

/* Footer */

#footer{
    background-color: #13183f;
    padding: 3rem;
    width: 100%;
    position: relative;
}

.end{
    background: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
    border: none;
    border-radius: 30px;
    font-size: 1em;
    font-weight: 700;
    height: 50px;
    width: 150px;
    position: absolute;
    right: 10%;
    top: 30%;
}

/* Media queries */