body {
    background-color: #121725;
    height: 100%;
    font-family: 'Chivo', sans-serif;
    text-align: center;
}

.logo {
    margin: 15% auto;
}

#mob-home-img {
    opacity: 0.2;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.home-img {
    display: none;
}

h1 {
    font-weight: 300;
    color: #54E6AF;
}

span {
    color: white;
}

p {
    color: #C2CBE5;
    font-weight: 300;
    line-height: 2;
    width: 75%;
    margin: auto;
}

.podcast-brand {
    margin-top: 5%;
}

.podcast-brand img {
    width: 15%;
    margin: 3%;
}

#google {
    margin-bottom: 5%;
}

#spotify {
    margin-bottom: 4%;
}

#pocket {
    margin-bottom: 5%;
}

#email {
    background-color: #2C344B;
    border: none;
    font-family: 'Chivo', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    width: 75%;
    border-radius: 50px;
    margin: 7% auto 4%;
    padding: 3% 7%;
}

#email::placeholder {
    color: #8b91a3;
}

.access {
    background-color: #54E6AF;
    border: none;
    font-family: 'Chivo', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    width: 89%;
    border-radius: 50px;
    margin: 0 auto 5%;
    padding: 3% 7%;
}

#dots {
    display: none;
}

@media(min-width:767px) {
    body {
        text-align: left;
    }

    .logo {
        margin: 7% 5%;
    }

    #mob-home-img {
        display: none;
    }

    .home-img {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .home-img img {
        height: 703px;
    }

    p {
        margin: 0;
    }

    .content {
        position: absolute;
        top: 25%;
        padding: 7% 5%;
        z-index: 1;
        background-color: #121725;
        margin-right: 10%;
    }

    h1 {
        font-size: 3rem;
    }

    .podcast-brand {
        position: absolute;
        top: 81%;
        width: 100%;
    }

    #spotify {
        margin-left: 1%;
    }

    .access {
        width: 30%;
        display: inline;
        position: absolute;
        top: 74.5%;
        right: 16%;
        height: 9%;
        padding: 1%;
    }

    #dots {
        display: inline;
        position: relative;
        margin-top: 78%;
        margin-left: 6%;
    }

}